/* pad the top and bottom of the page a bit to fit the navbar */
/*body {
  padding-top: 70px;
  padding-bottom: 30px;
}*/

.list-group-item-dull {
	background-color: #f5f5f5;
}

.list-group-item-darkgrey {
	background-color: #CCC;
}

#assessmentList .slider {
	width: 100%;
}

#assessmentList .progress {
	margin: 10px 0px;
}

.sliderSpacer {
	margin: 10px 0px;
}

.weightingChart svg {
	display: block;
	margin: 0 auto;
}

.marks-earnt {
	color: #5cb85c; /* bootstrap green */
}

.marks-lost {
	color: #d9534f; /* bootstrap red */
}

.marks-lost,.marks-earnt {
	border-radius: 4px;
	padding: 2px 4px;
	margin-bottom: 4px;
}

.progress-fat {
	height: 50px;
	border-radius: 10px;
}

.progress-bar-fat {
	line-height: 50px;
}