body {
	font-family: Helvetica, Arial, sans-serif;
	width: 60%;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
form {
	display: table;
	float: left;
}
form fieldset {
	display: table-row;
}
form fieldset * {
	display: table-cell;
}
#active_data {
	float: right;
}
fieldset {
	border: 0;
}
.data-color {
	display: inline-block;
	width: 10px;
	height: 10px;
}
svg {
	display: block;
	margin: 0 auto;
}
svg .weighting-arc text {
	text-anchor: middle;
	font-size: 0.75em;
	color: #ffffff;
}