body {
	font-family: Helvetica, Arial, sans-serif;
	width: 60%;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
form {
	float: left;
}
#active_data {
	float: right;
}
fieldset {
	border: 0;
}
svg {
	display: block;
	margin: 0 auto;
}
svg .weighting-arc text {
	text-anchor: middle;
	font-size: 0.75em;
	color: #ffffff;
}